{% extends 'core/base.html' %}

{%block 'title'%} Listar Programas {%endblock%}

{%block 'content'%}
    {% load static %}
    
    <h1 style="text-align: center;">Listado de Programas</h1>

        
        {% for i in programa %}
            <div class="programa">
                <h3>{{ i.nombrePrograma }}</h3> <br>
                <p>Ciudad de localización: {{ i.localizacion_cel }}</p>
                <p>Duración programa (días): {{ i.duracion }}</p>
                <p>Centro de estudios local: {{ i.nombreCEL }}</p>
                <p>Vacantes: {{ i.vacantes }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'postular_programa' i.id %}"><button type="submit" class="btn btn-success enviar">Postular</button>
                </a>
                {% endif %}
            </div>
        {% endfor %}
        
{% endblock %}